# name: Java CI

# on:
#   pull_request:
#     branches:
#       - main

# jobs:
#   build:
#     runs-on: ubuntu-latest

#     steps:
#       - name: Set up JDK
#         uses: actions/setup-java@v2
#         with:
#           java-version: '19'
#           distribution: 'adopt'

#       - name: Check out code
#         uses: actions/checkout@v2

#       - name: Set up Node.js
#         uses: actions/setup-node@v2.4.0
#         with:
#           node-version: '19'

#       - name: Compile Java
#         run: javac Main.java

#       - name: Set build status
#         id: build
#         run: |
#           if [ -z "$(javac Main.java 2>&1)" ]; then
#             echo "build-status=success" >> $GITHUB_ENV
#           else
#             echo "build-status=failure" >> $GITHUB_ENV
#           fi
